* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::placeholder {
  color: #2f6690;
  font-weight: bold;
}
.menu {
  background: #2f6690;
  padding: 7px;
}
.menu li {
  display: inline-block;
  margin-right: 10px;
}
.menu a {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}
.menu a:hover {
  font-size: 25px;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.menu a:not(:hover) {
  font-size: 22px;
  transition: all 0.3s ease;
}
/*Main container*/
.clock-container,
.chrono-container {
  margin-top: 20px;
}
.clock-container button,
.chrono-container #play-button {
  position: absolute;
  left: 40%;
  top: 170px;
  padding: 10px;
  width: 150px;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  background: #2f6690;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}
.chrono-container #pause-button {
  position: absolute;
  left: 55%;
  top: 170px;
  padding: 10px;
  width: 150px;
  font-size: 30px;
  outline: none;
  cursor: pointer;
  background: #2f6690;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}
.chrono-container #stop-button {
  position: absolute;
  left: 47%;
  top: 250px;
  padding: 10px;
  width: 150px;
  font-size: 30px;
  outline: none;
  cursor: pointer;
  background: #2f6690;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}
.clock-container button:hover,
.chrono-container #play-button:hover,
.chrono-container #pause-button:hover,
.chrono-container #stop-button:hover {
  padding: 12px;
  font-size: 35px;
  transition: all 0.3s ease;
}
.clock-container button:not(:hover),
.chrono-container #play-button:not(:hover),
.chrono-container #pause-button:not(:hover),
.chrono-container #stop-button:not(:hover) {
  padding: 10px;
  font-size: 30px;
  transition: all 0.3s ease;
}
/*CLOCK*/

/*Separate containers*/
.hours {
  margin-left: 30%;
  top: 60px;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  color: #2f6690;
}
.minutes {
  position: absolute;
  left: 40%;
  top: 60px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #2f6690;
}
.seconds {
  position: absolute;
  top: 60px;
  left: 52%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #2f6690;
}
/*HOVER styles*/
.hours:hover,
.minutes:hover,
.seconds:hover {
  font-size: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hours:not(:hover),
.minutes:not(:hover),
.seconds:not(:hover) {
  font-size: 40px;
  transition: all 0.3s ease;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background: #2f6690;
  color: #fff;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
footer a:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}
/*TIMER styles*/
#hours-input {
  position: absolute;
  top: 170px;
  left: 450px;
  width: 50px;
  height: 20px;
  outline: none;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid #2f6690;
  color: #2f6690;
}
#minutes-input {
  position: absolute;
  top: 170px;
  left: 560px;
  width: 50px;
  height: 20px;
  outline: none;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid #2f6690;
  color: #2f6690;
}
#seconds-input {
  position: absolute;
  top: 170px;
  left: 750px;
  width: 50px;
  height: 20px;
  outline: none;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid #2f6690;
  color: #2f6690;
}
.control-buttons {
  position: absolute;
  top: 220px;
  left: 570px;
}
.control-buttons button {
  padding: 10px;
  width: 150px;
  border: 1px solid #000;
  border-radius: 10px;
  background: #2f6690;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}
#start-button {
  position: absolute;
  top: 220px;
  left: 400px;
  padding: 10px;
  width: 150px;
  border: 1px solid #000;
  border-radius: 10px;
  outline: none;
  background: #2f6690;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}
.control-buttons button:hover,
#start-button:hover {
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.control-buttons button:not(:hover),
#start-button:not(:hover) {
  font-size: 25px;
  transition: all 0.3s ease;
}
